<h1>Welcome to Tekcít!</h1><br />
<h2>See all:</h2><br />
<%= link_to "Cities", cities_path %>
<%= link_to "Genres", genres_path %>
<%= link_to "Movie Theatres", movie_theatres_path %>
<%= link_to "Movies", movies_path %>
